* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url('../images/wood2.jpg');
    background-size: cover;
}

.contNote {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 55px;
    right: 50px;
    background-image: url('../images/stcNot.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.contNote p {
    color: black;
    margin: 50px 10px 10px 10px;
    position: relative;
    top: 50px;
    right: 4px;
}
.res{
    display: flex;
    position: absolute;
    top: 200px;
    right: 128px;
    padding: 5px;
}
.res p{
    color: rgb(202, 11, 11);
    margin: 54px;
}
.divbut1 {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #481A0A;
    padding: 5px;
}
.contNote img {
    width: 300px;
    border: 3px solid black;
}

.contButt {
    display: flex;    
    justify-content: space-around;
    width: 450px;
    margin: 50px auto 10px auto;
    /* border: 3px solid black; */
}

.contButt button {
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: cornsilk;
    /* border: 3px solid black; */

}

.span {
    color: rgb(202, 11, 11);
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 0px;
}

.contGame {
    width: 450px;
    height: 450px;
    margin: 20px auto 20px auto;
    background-color: #481A0A;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* border:2px solid black; */
    border-radius: 8px;
}

.contGame div {
    background-color: #935830;
    width: 125px;
    height: 125px;
    padding: 10px;
    border: 1px solid rgb(156, 140, 68);
    border-radius: 5px;
    margin: 8px;
    font-size: 85px;
    text-align: center;
    font-weight: bold;
    /* border: 1px solid black; */
    color: rgb(243, 239, 24);
    
}
p {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    /* border: 1px solid black; */
    color: rgb(243, 239, 24);
}

.contRest {
    width: 450;
    display: flex;
    justify-content: center;
    margin: 0px 500px 500px 500px;
    /* border: 3px solid black; */

}
.contRest button {
    width: 300px;
    height: 50px;
    margin: 20px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: cornsilk;
    color: rgb(202, 11, 11);
    /* border: 3px solid black; */

}
.contPng {
    width: 400px;
    height: 400px;
    padding: 30px 50px;
    position: absolute;
    top: 26px;
    left: 50px;
}
.contPng img {
    width: 250px;
    height: 300px;
}

@media (max-width: 576px){
  
.contNote{
    position: absolute;
    top: 628px;
    right: 100%;
}
.res {
    display: none;
}
.contPng{
    display: none;
}
.contGame{
    width: 100%;
    justify-content: space-around;
}
.contButt{
    margin:0px;
    width: 100%;
}
.contButt button{
    width: 70%;
}
.contGame div{
    width: 30%;
    height: 30%;
    margin: 0px;
}
.contRest{
    margin:0px;
}
.container {
   margin: 0px;
}

}